@import 'var';
#{component(collapse)} {
  &-wrapper {
    border-top: 1px solid $gray;
  }
  &-item {
    &.active {
      #{component(collapse)} {
        &-item-title {
          border-bottom-color: transparent;
        }
        &-item-content {
          display: block;
        }
      }
    }
    &.disabled {
      #{component(collapse)} {
        &-item-name {
          color: #ccc;
          cursor: not-allowed;
          border-bottom-color: $gray;
        }
      }
    }
  }
  &-item-title {
    padding: 0 .2rem;
    font-size: $font-size;
    color: $color;
    line-height: .74rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid $gray;
    transition: all 0.25s;
    position: relative;
    .icon-animation {
      position: absolute;
      right: 1%;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.25s;
      font-size: .36rem;
      &.active {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  &-item-name{
    font-size: .26rem;
  }
  &-item-content {
    display: none;
    padding: 0 .2rem;
    transition: all 0.25s;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid $gray;
    .content-inner {
      padding: .1rem 0;
      font-size: 15px;
    }
  }
}